<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [127]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df=df.drop_duplicates()

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
df.duplicated().sum()

0

In [7]:
df.shape[0]

11398

In [103]:
missing_data={};
for column in df.columns:
    if df[column].count() < len(df):
        number_of_missed_entries= len(df)-df[column].count()
        missing_data[column]= number_of_missed_entries
print(incomplet_columns)

{'OpenSource': 81, 'Student': 51, 'EdLevel': 112, 'UndergradMajor': 737, 'EduOther': 164, 'OrgSize': 96, 'DevType': 65, 'YearsCode': 9, 'Age1stCode': 13, 'YearsCodePro': 16, 'JobSat': 1, 'MgrIdiot': 493, 'MgrMoney': 497, 'MgrWant': 493, 'LastInt': 413, 'FizzBuzz': 37, 'JobFactors': 3, 'ResumeUpdate': 39, 'CompTotal': 809, 'CompFreq': 206, 'ConvertedComp': 816, 'WorkWeekHrs': 122, 'WorkPlan': 121, 'WorkChallenge': 164, 'WorkRemote': 8, 'WorkLoc': 32, 'ImpSyn': 5, 'CodeRev': 1, 'CodeRevHrs': 2426, 'UnitTests': 29, 'PurchaseHow': 196, 'PurchaseWhat': 38, 'LanguageWorkedWith': 11, 'LanguageDesireNextYear': 134, 'DatabaseWorkedWith': 453, 'DatabaseDesireNextYear': 1042, 'PlatformWorkedWith': 411, 'PlatformDesireNextYear': 544, 'WebFrameWorkedWith': 1393, 'WebFrameDesireNextYear': 1617, 'MiscTechWorkedWith': 2182, 'MiscTechDesireNextYear': 1455, 'DevEnviron': 29, 'OpSys': 34, 'Containers': 82, 'BlockchainOrg': 2322, 'BlockchainIs': 2610, 'BetterLife': 98, 'ITperson': 35, 'OffOn': 38, 'SocialMedia': 293, 'Extraversion': 20, 'ScreenName': 507, 'SOVisit1st': 325, 'SOVisitFreq': 5, 'SOVisitTo': 1, 'SOFindAnswer': 3, 'SOTimeSaved': 50, 'SOHowMuchTime': 1917, 'SOAccount': 1, 'SOPartFreq': 1128, 'SOJobs': 6, 'EntTeams': 5, 'WelcomeChange': 85, 'SONewContent': 1965, 'Age': 287, 'Gender': 73, 'Trans': 123, 'Sexuality': 542, 'Ethnicity': 675, 'Dependents': 140, 'SurveyLength': 19, 'SurveyEase': 14}

                        Number of Missing Entries
OpenSource                                     81
Student                                        51
EdLevel                                       112
UndergradMajor                                737
EduOther                                      164
OrgSize                                        96
DevType                                        65
YearsCode                                       9
Age1stCode                                     13
YearsCodePro                                   16
JobSat                                          1
MgrIdiot                                      493
MgrMoney                                      497
MgrWant                                       493
LastInt                                       413
FizzBuzz                                       37
JobFactors                                      3
ResumeUpdate                                   39
CompTotal                                     809
CompFreq                                      206
ConvertedComp                                 816
WorkWeekHrs                                   122
WorkPlan                                      121
WorkChallenge                                 164
WorkRemote                                      8
WorkLoc                                        32
ImpSyn                                          5
CodeRev                                         1
CodeRevHrs                                   2426
UnitTests                                      29
PurchaseHow                                   196
PurchaseWhat                                   38
LanguageWorkedWith                             11
LanguageDesireNextYear                        134
DatabaseWorkedWith                            453
DatabaseDesireNextYear                       1042
PlatformWorkedWith                            411
PlatformDesireNextYear                        544
WebFrameWorkedWith                           1393
WebFrameDesireNextYear                       1617
MiscTechWorkedWith                           2182
MiscTechDesireNextYear                       1455
DevEnviron                                     29
OpSys                                          34
Containers                                     82
BlockchainOrg                                2322
BlockchainIs                                 2610
BetterLife                                     98
ITperson                                       35
OffOn                                          38
SocialMedia                                   293
Extraversion                                   20
ScreenName                                    507
SOVisit1st                                    325
SOVisitFreq                                     5
SOVisitTo                                       1
SOFindAnswer                                    3
SOTimeSaved                                    50
SOHowMuchTime                                1917
SOAccount                                       1
SOPartFreq                                   1128
SOJobs                                          6
EntTeams                                        5
WelcomeChange                                  85
SONewContent                                 1965
Age                                           287
Gender                                         73
Trans                                         123
Sexuality                                     542
Ethnicity                                     675
Dependents                                    140
SurveyLength                                   19
SurveyEase                                     14

## Finding Missing values

Find the missing values for all columns.

In [106]:
# We first save the columns that are missing a values in dictionary
missing_data={};
for column in df.columns:
    if df[column].count() < len(df):
        number_of_missed_entries= len(df)-df[column].count()
        missing_data[column]= number_of_missed_entries
print(incomplet_columns)

{'OpenSource': 81, 'Student': 51, 'EdLevel': 112, 'UndergradMajor': 737, 'EduOther': 164, 'OrgSize': 96, 'DevType': 65, 'YearsCode': 9, 'Age1stCode': 13, 'YearsCodePro': 16, 'JobSat': 1, 'MgrIdiot': 493, 'MgrMoney': 497, 'MgrWant': 493, 'LastInt': 413, 'FizzBuzz': 37, 'JobFactors': 3, 'ResumeUpdate': 39, 'CompTotal': 809, 'CompFreq': 206, 'ConvertedComp': 816, 'WorkWeekHrs': 122, 'WorkPlan': 121, 'WorkChallenge': 164, 'WorkRemote': 8, 'WorkLoc': 32, 'ImpSyn': 5, 'CodeRev': 1, 'CodeRevHrs': 2426, 'UnitTests': 29, 'PurchaseHow': 196, 'PurchaseWhat': 38, 'LanguageWorkedWith': 11, 'LanguageDesireNextYear': 134, 'DatabaseWorkedWith': 453, 'DatabaseDesireNextYear': 1042, 'PlatformWorkedWith': 411, 'PlatformDesireNextYear': 544, 'WebFrameWorkedWith': 1393, 'WebFrameDesireNextYear': 1617, 'MiscTechWorkedWith': 2182, 'MiscTechDesireNextYear': 1455, 'DevEnviron': 29, 'OpSys': 34, 'Containers': 82, 'BlockchainOrg': 2322, 'BlockchainIs': 2610, 'BetterLife': 98, 'ITperson': 35, 'OffOn': 38, 'SocialMedia': 293, 'Extraversion': 20, 'ScreenName': 507, 'SOVisit1st': 325, 'SOVisitFreq': 5, 'SOVisitTo': 1, 'SOFindAnswer': 3, 'SOTimeSaved': 50, 'SOHowMuchTime': 1917, 'SOAccount': 1, 'SOPartFreq': 1128, 'SOJobs': 6, 'EntTeams': 5, 'WelcomeChange': 85, 'SONewContent': 1965, 'Age': 287, 'Gender': 73, 'Trans': 123, 'Sexuality': 542, 'Ethnicity': 675, 'Dependents': 140, 'SurveyLength': 19, 'SurveyEase': 14}

In [109]:
# In the following we use show the number of missing values in a table :) 
def set_pandas_display_options() -> None:
    display = pd.options.display
    display.max_columns = 1000
    display.max_rows = 1000
    display.max_colwidth = 199
    display.width = 1000
    # display.precision = 2  # set as needed

set_pandas_display_options()
missing_table=pd.DataFrame.from_dict([missing_data]).transpose().rename(columns={0:"Number of Missing Entries"})
missing_table

                        Number of Missing Entries
OpenSource                                     81
Student                                        51
EdLevel                                       112
UndergradMajor                                737
EduOther                                      164
OrgSize                                        96
DevType                                        65
YearsCode                                       9
Age1stCode                                     13
YearsCodePro                                   16
JobSat                                          1
MgrIdiot                                      493
MgrMoney                                      497
MgrWant                                       493
LastInt                                       413
FizzBuzz                                       37
JobFactors                                      3
ResumeUpdate                                   39
CompTotal                                     809
CompFreq                                      206
ConvertedComp                                 816
WorkWeekHrs                                   122
WorkPlan                                      121
WorkChallenge                                 164
WorkRemote                                      8
WorkLoc                                        32
ImpSyn                                          5
CodeRev                                         1
CodeRevHrs                                   2426
UnitTests                                      29
PurchaseHow                                   196
PurchaseWhat                                   38
LanguageWorkedWith                             11
LanguageDesireNextYear                        134
DatabaseWorkedWith                            453
DatabaseDesireNextYear                       1042
PlatformWorkedWith                            411
PlatformDesireNextYear                        544
WebFrameWorkedWith                           1393
WebFrameDesireNextYear                       1617
MiscTechWorkedWith                           2182
MiscTechDesireNextYear                       1455
DevEnviron                                     29
OpSys                                          34
Containers                                     82
BlockchainOrg                                2322
BlockchainIs                                 2610
BetterLife                                     98
ITperson                                       35
OffOn                                          38
SocialMedia                                   293
Extraversion                                   20
ScreenName                                    507
SOVisit1st                                    325
SOVisitFreq                                     5
SOVisitTo                                       1
SOFindAnswer                                    3
SOTimeSaved                                    50
SOHowMuchTime                                1917
SOAccount                                       1
SOPartFreq                                   1128
SOJobs                                          6
EntTeams                                        5
WelcomeChange                                  85
SONewContent                                 1965
Age                                           287
Gender                                         73
Trans                                         123
Sexuality                                     542
Ethnicity                                     675
Dependents                                    140
SurveyLength                                   19
SurveyEase                                     14

Find out how many rows are missing in the column 'WorkLoc'

In [112]:
# your code goes here
missing_data['WorkLoc']

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [124]:
# your code goes here
df['WorkLoc'].value_counts(dropna=False)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
NaN                                                 32
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [125]:
#make a note of the majority value here, for future reference
#
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [128]:
# your code goes here
df['WorkLoc'].replace(np.nan, 'Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [130]:
# your code goes here
print(df['WorkLoc'].value_counts(dropna=False))

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [133]:
# your code goes here
df['CompFreq'].value_counts(dropna=False)

Yearly     6073
Monthly    4788
Weekly      331
NaN         206
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [138]:
# your code goes here
df.reset_index(drop=True, inplace=True)
  
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df['CompTotal'] * 12
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df['CompTotal'] * 52
df.loc[:,['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']]

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11393   Yearly   130000.0                      130000.0
11394   Yearly    74400.0                       74400.0
11395   Yearly   105000.0                      105000.0
11396   Yearly    80000.0                       80000.0
11397      NaN        NaN                           NaN

[11398 rows x 3 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).